.btn-show-order{
	display: none;
}
table.table_collapse thead tr{
	font-size: 12px;
}
.iup{
	display: none;
}
table.table_collapse tbody td{
	font-size: 12px;
}
@media screen and (max-width: 480px) {
	.right_checkout{
		display: none;
	}
	.btn-show-order{
		display: block;
	}
}