ul.listMiniImages li{
	list-style: none;
	cursor: pointer;
}
ul.listMiniImages li .active{
	border: 5px solid #86566A;
}
.purchase h5.price,.quantity,.midDetail h3,.commentsProduct{
	background: url("../images/separator.jpg") no-repeat center bottom;
	padding-bottom: 10px;
}
.purchase small {
	color: #A9A9A9;
}
.btn-quantity{
	border: 3px solid lightgray;
	margin: 0 3px;
	border-radius: 1px;
}
.btnAddToCart,.btnDescCmt{
	border: none;
	cursor: pointer;
	padding: 5px 20px;
	background: url("../images/button-add_to_cart.jpg") no-repeat left top;
	outline: none;
	background-size: 100% auto;
	color: white;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Arial",sans-serif;
}
.btnAddToCart:hover,.btnDescCmt:hover{
	background-position: left bottom;
}
.delivery{
	background: url("../images/product-delivery.jpg") no-repeat;
	color: white;
	text-align: center;
	background-size: 100% 100%;
}
.delivery span{
	background:url('../images/promo-button_background.png') no-repeat center center;
	color: black;
	padding: 10px;
	font-size: 20px;
	background-size: 100% auto;
	display: inline-block;
}
.description p.des{
	letter-spacing: 3px;
	word-spacing: 5px;
}
small.ingredient {
	letter-spacing: 1px;
	font-style: italic;
}
.midDetail{
	background: url("../images/scent_04.jpg") no-repeat center bottom;
	padding: 50px;
}

/*-----------------*/
figure.zoom {
	position: relative;
	overflow: hidden;
	cursor: zoom-in;
}

figure.zoom img:hover {
	opacity: 0;
}

figure.zoom img {
	display: block;
	width: 100%;
}
.leftToRight{
	animation-name: zoomImg;
	animation-duration: 1s;
}

@keyframes zoomImg{
	from{
		left:-100px;
		opacity: 0.5;
		transform: scale(0.5);
	}
	to{
		left: 0;
		opacity: 1;
		transform: scale(1);
	}
}
.media-body-2{
	border: 1px solid lightgray;
	border-radius: 50px;
	padding: 2px 30px;
	font-size: 12px;
	background-color: #f8f8f8;
	display: block;
	height: auto;
	margin-bottom: 5px;
	max-width: 768px;
}
.media-body-2 h5 {
	font-size: 16px;
	color: blue;
	margin: auto;
}
.media-body-2 small {
	font-size: 10px;
	color: #b70c0c;
}
.media-body-2 p{
	font-size: 12px;
	color: black;
	margin: auto;
}
.commentsProduct{
	border: none;
}
.h5review{
	background: url('../images/separator.jpg') no-repeat center top;
	position: relative;
}
.h5review::after{
	background: url('../images/separator.jpg') no-repeat;
	height: 2px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	position: absolute;
	content:" ";
}
p.dateTime {
	font-size: 12px;
	font-weight: 100;
	color: #ABABAB;
	margin-bottom: 0;
}

.review_content {
	color: #333333;
	font-size: 16px;
}
#btnReview{
	float: right;
	background-color: white;
	padding: 5px 10px;
	border: 1px solid #333333;
	cursor: pointer;
	transition: 0.5s;
	margin-top: -5px;
}
#btnReview:hover{
	background-color: #333333;
	color: white;
}
/*rating*/
.divrating,.divrating2{
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}
.divrating2{
	opacity: 1;
	background-color: transparent;
	display: none;
}
.divcontent{
	position: absolute;
	top: 10%;
	max-width: 100%;
	z-index: 1000;
}
.divcontent .content{
	background-color: white;
	border: 1px solid #333333;
	opacity: 1;
	padding: 2%;
}
.divcontent .content ul{
	list-style: none;
}
.divcontent .content ul li{
	padding: 5px 5px;
	border: 1px solid black;
	margin: 10px;
}
.divcontent .content ul li:hover{
	background: #282828;
}
.divcontent .content ul li:hover a{
	color: white;
}
.divcontent .content ul li a{
	color: #282828;
	text-decoration: none;
}

/*end rating*/
@media screen and (max-width: 576px) {
	.chat{
		display: none;
	}
	#goTop{
		display: none;
	}
}
#btnX{
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
/*fix*/

@media screen and (max-width: 576px) {
	.divrating2 .content ul li a{
		font-size: 10px;
	}
}