.table-bordered td, .table-bordered th{
	text-align: center;
}
@media screen and (max-width: 576px) {
	.table thead th{
		font-size: 9px;
		padding: 1px;
	}
	.table tbody td{
		font-size: 10px;
		padding: 1px;
	}
}