
div {
    display: block;
}
img {
    width: 100%;
}
.dsp-flex{
    display: flex;
}
.full-width{
  width: 100%;
  height: auto;
}

/*introduce*/
.icon-left{
    display: flex;
    width: 6rem;
    height: auto;
    float: left;
    /*padding-left: 2rem;*/
}
.icon-right{
    display: flex;
    width: 6rem;
    height: auto;
    float: left;
    /*padding-right: 2rem;*/
}




.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


@media screen and (min-width:768px){
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      display: flex;
    }
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.66666%);
    }   
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.66666%);
    } 
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{ 
      transform: translateX(0);
    }
   
}

@media screen and (max-width:767px){

    .carousel-item DIV:first-child{
        display: block !important;
    } 
    /*.undefined{
        display: none;
    }*/
    .icon-left{
        padding-left: 0px;
    }
    .icon-right{
        padding-right: 0px;
    }
}

.dsp-flex a{
    margin:auto;
}
.dsp-flex i{
    font-size: 55px;
    color: #6D6D6D;
}
.dsp-flex i:hover{
    /*font-size: 55px;*/
    color: blue;
}