ul.pagination{
	position: relative;
	margin:auto;
	display: inline-block;
}
ul.pagination li {
    padding: 5px;
    float: left;
}

ul.pagination li a {
    color: black;
}
ul.pagination li a.active{
	color: red;
	text-decoration-line: underline;
}
ul.ulFilter{
	list-style: none; 
	border: 1px solid black;
	border-radius: 5px;
	background:url("../images/scent_01.jpg") no-repeat center center;
	background-size: 100% 100%;
}
a.aFilter{
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
	ul.pagination li a {
    	font-size: 12px;
	}
}