::selection {
	background:#f094b7;
	color:#555;
}

::-moz-selection {
	background:#f094b7;
	color:#555;
}

::-webkit-selection {
	background:#f094b7;
	color:#555;
}
*{
	margin:0;
	padding: 0;
}
div{
	display: block;
}

body{
	font-family: "Macarons",Georgia,Arial,sans-serif !important;
    font-size: 1.125em;
}
.top{
	background: url("../images/top-background.png") no-repeat center top;
	background-color: white;
	text-align: center;
	background-size: 100% auto;
}
.top-left *{
	color:black;
	font-size: 15.75px;
	font-weight: 400;
}
.top-left a{
	color: black;
}
.top-left form{
	background:url("../images/search_background.jpg") no-repeat left top;
	background-color: #aaa;
	position: relative;
	height: 27px;
	display: inline-block;
	max-width: 129px;
}
.top-left form input{
	background: transparent;
	border:none;
	width: 100%;
	padding: 3px;
	outline: none;
}
.top-right-content a {padding: 0 5px 0;color: black;font-weight: 400;font-size: 15.75px;}
.top-logo>a>img{
	max-width: 100%;width: 60%;
}
.carousel-indicators{
	bottom: -50px;
}
.carousel-indicators li {
	background-color: #aaa;
	border-radius: 50%;
	padding: 5px;
	height: auto;
	width: auto;
}
.carousel-indicators li.active{
	background-color: black;
}
.feature-products{
	background: url("../images/separator.jpg") no-repeat center bottom;
	padding: 60px 20px;
}
.centerDiv{
	background:url("../images/featured-products_background.jpg") no-repeat center bottom;
	background-size: 100% auto;
}
.product{
	transition: 1s;
}
.product a{
	color: black;
	text-decoration: none;
}
a.zoomImg img{
	transform: scale(0.8);
	transition: 0.5s;
}
a.zoomImg:hover img{
	transform: scale(1);
}
a.zoomImg{
	display: block;
	position: relative;
}
a.zoomImg::after{
	content: '';
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	opacity: 0;
	transform: scale(0.7);
}
a.zoomImg:hover:after{
	opacity: 0.5;
	transition-duration: 0.5s;
	transform: scale(1);
}

.product button{
	border-radius: 1px;
	border:2px solid #4f4f4f;
	padding: 5px 25px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	text-decoration: none;
	background:transparent;
}
.product button:hover{
	color:whitesmoke;
	background-color: #4f4f4f;
	border:2px solid white;
}
.b-product .content p{
	font-size: 0.9375em;
	color: #222;
	word-spacing: 5px;
	letter-spacing: 1px;
	max-height: 80px;
}
.b-product .content span {
	font-size: 12px;
	font-weight: 100;
	color: #4f4f4f;
}
.b-product .content button{
	border: none;
	cursor: pointer;
	padding: 5px 15px;
	background: url("../images/button-add_to_cart.jpg") no-repeat left top;
	outline: none !important;
	background-size: 100% auto;
	color: white;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Arial",sans-serif;
}
.b-product .content button:hover{
	background-position: left bottom;
}
.saysomething{
	background-image: url("../images/bg2.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	padding: 200px;
	color: #DF5487;
	text-align: center;
	background-repeat: no-repeat;
}

.saysomething .content{
	font-size: 3em;
	font-weight: 700;
}
.best-seller,.foodSection{
	background: url("../images/separator.jpg") no-repeat center bottom;
	padding: 100px 0;
}
.best-seller .title,.foodSection .title{
	text-align: center;
}
.best-seller .title a,.foodSection .title a{
	display: inline-block;
	color:black;
}
h1.bestseller-title,.foodSection h1{
	display: inline-block;
	margin:0;
	position: relative;
}
h1.bestseller-title::before,.foodSection h1::before{
	background:url("../images/title-sep_left.jpg") no-repeat left center;
	height: 40px;
	width: 268px;
	display: block;
	position: absolute;
	left: -300px;
	content:" ";
}
h1.bestseller-title::after,.foodSection h1::after{
	background:url("../images/title-sep_right.jpg") no-repeat right center;
	height: 40px;
	top: 0;
	width: 268px;
	display: block;
	position: absolute;
	right: -300px;
	content:" ";
}
footer{
	margin-top:30px;
	padding-top: 10px;
	padding: 5%;
	position: relative;
	background: url("../images/separator.jpg") no-repeat center top;
}
footer .ft1 ul{
	list-style: none;
	text-align: center;
	cursor: pointer;
}
footer .ft1 ul li{
	text-align: center;
	padding: 5px;
	font-weight: 300;
	
}
footer::before{
	content: " ";
	background:url("../images/footer-nav_left.jpg") no-repeat top left;
	display: block;
	top:0;
	left:0;
	height: 165px;
	width: 200px;
	position: absolute;
	z-index: -1;
}
footer::after{
	content: " ";
	background:url("../images/footer-nav_right.jpg") no-repeat center right;
	display: block;
	top:0;
	right:0;
	height: 165px;
	width: 200px;
	position: absolute;
	z-index: -1;
}
.social ul{
	list-style: none;
	top: 200px;
	left: 0;
	display: block;
	z-index: 100;
	position: fixed;
	background: #333333;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	padding: 0;
}
.social>ul>li {
	padding: 5px;
	color: white;
	font-size: 24px;
	cursor: pointer;
}
#goTop{
	z-index: 100;
	display: block;
	position: fixed;
	right: 0;
	bottom: 85px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	cursor: pointer;
}
.chat {
	z-index:100;
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	background: #060708;
	width: 60px;
	height: 60px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
}
.chat::after{
	content: " ";
	background: #0a1d44;
	display: block;
	position: absolute;
	width: 75px;
	height: 75px;
	top: -7px;
	left: -7px;
	border-radius: 50%;
	/*opacity: 0.5;*/
	animation:1s ease-in-out 0s normal none infinite running;
	animation-name: ex;
	animation-duration: 1s;
}
@keyframes ex{
	from {opacity: 0.2;}
	to{opacity: 0.8}
}
.chat a{
	position: relative;
	display: block;

}
.chat img {
	animation: 1s ease-in-out 0s normal none infinite running;
	max-width: 100%;
	position: absolute;
	left: 0px;
	top: 5px;
	animation-duration: 1s;
}


footer .ft1 b{
	color: #c72340;
	font-weight: 700;
	font-size: 24px;
}
footer .ft1 ul>li>a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}
.social_svg{
	height: 30px;
	width:auto;
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 576px) {
	.more{
		display: none;
	}
	.social ul{
		display: none;
	}
	.b-product .content button{
		font-size: 12px;
	}
}
@media screen and (max-width: 768px) {
	.b-product .content button{
		font-size: 10px;
	}
}
.ft1 span {
    font-weight: 700;
    font-size: 24px;
}
/*food;*/
.food{
	position: relative;
}
.icon-left{
	position: absolute;
	left: 0;
	top: 40%;
	display: block;
	float: left;
}
.icon-right{
	position: absolute;
	right: 0;
	top: 40%;
	display: block;
	float: right;
}
/*end food*/