body {
  background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: .95;
}
button a{
  text-decoration: none;
  color:#fff;
}
button a:hover{
  text-decoration: none;
  color:#fff;
}